.manageInventory-title h1{
    font-family: 'Staatliches', cursive;
    margin-top: 50px;
    text-align: center;
}
 .addItems-inventory{
    text-align: center;
    
}
.addItems-inventory button{
    padding: 8px 120px;
    border: 0;
   margin-bottom: 50px;
   background-color: #57B846;
   color: #fff;
   border-radius: 5px;
   font-weight: 500;
   font-family: 'Poppins', sans-serif;
}
.addItems-inventory button:hover{
    background-color: #1D3B16;
}

 .manageInventory-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin-left: 50px;
    margin-bottom: 50px
}; 
    
@media screen and (max-width:567px) {
    .manageInventory-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}
