.newsletter-info{
    
    background-color:black ;
    margin-top: 80px;
}
.newsletter-info h1  {
   color: #fff;
    text-align: center;
   
}
.newsletter-info p{
    text-align: center;
    color: #fff;
}

.newsletter-info .input-btn{
   
    display:flex;
    justify-content: center;
}
.newsletter-info input {
   border: 0;
   width: 350px;
   margin-bottom: 20px;
   border-radius: 8px  0px 0px 8px;
}
.newsletter-info input:focus {
    outline: none;
}
.newsletter-info button{
    background-color: #57B846;
    color: #fff;
    font-size: 15px;
    padding: 5px 10px;
    font-weight: 700;
    margin-bottom: 20px;
    border: 0;
    border-radius:0px 8px 8px 0px ;
}
.line{
    color: gray;
}

.house-info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 120px;
}
.house-info h4{
    color: #fff;
}
.house-info ol{
    color: #fff;
}



@media screen  and (max-width:567px) {
    .house-info{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}
