.text-style{
    margin-top: 100px;
   font-family: 'Staatliches', cursive;
    text-align: center;
}
.partners{
   margin-top: 20px;
    background-color: #EEEEEE;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:5px;
    
    
}
.partners img{
    margin-top:10px ;
    margin-bottom: 10px;
    margin-left: 117px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

@media screen and (max-width:567px)  {

    .partners{
        display: grid;
        grid-template-columns:1fr;
    }
     .partners img{
        margin: 0;
        margin-left:91px ;
        margin-top: 5px;
        margin-bottom: 5px;
    }
} 