.ip-color{
    color: #fff;
    font-weight: 700;
}


.font-color{
    color:#fff;
    font-weight: 700;

}
.one-color{
    color:#fff;
    font-weight: 700;
    

}

@media screen  and (max-width:567px) {
    img{

        height: fit-content;
    }
    .iphone{
        display: none;
    }
.samsung   {
  display: none;

}
.oneplus{
    display: none;
}
   
    
}