.login-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container h2{
    color: #fff;
    border-radius: 20px 20px 0px 0px;
    height: 120px;
    width:500px;
    background-color: #57B846;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.form-container h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{ 
    width: 500px;
    height: 675px;
    margin: 0  auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
}

.input-group input{
    font-size: 21px;
    height: 55px;
    width: 390px;
    margin-top: 35px;
}
 .input-group {
   display: flex;
   justify-content: center;
}
.input-group input{
    border: 0;
    border-radius: 50px;
    background-color: #EBEBEB;
   
    
}
.input-group input::placeholder{
    font-weight: 600;
   text-indent: 20px;
}


.input-group input:focus{
    outline: none;
}

 .input-submit input{
     background-color: #57B846;
     border-radius: 50px;
    height: 50px;
    width: 390px;
    border: 0;
    font-weight: 500;
    font-size: 21px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}
.input-submit input:hover{
    background-color: #1D3B16;
}
.input-submit{
    display: flex;
    justify-content: center;
    
}

.or-style{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midddle-or{
    font-weight: 600;
    font-size: 21px;
}
.line-start{
    background-color: #57B846;
    height: 1px;
    width: 150px;
    margin-right: 10px;
}
.line-end{
    background-color: #57B846;
    height: 1px;
    width: 150px;
    margin-left: 10px;
}

.google-btn button{
    width: 390px;
    height: 55px; 
}
.google-btn img{
    width: 35px;
    
}

.google-btn button{
    background-color: #57B846;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-top: 12px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-img {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.btn-img p{
    margin-top: 14px;
    margin-left: 14px;
   
}
.btn-img button{
    border: 0;

}

.move-signup{
    margin-top: 50px ;
    text-align: center;
}
.move-signup h6{
    color: #57B846;
    font-weight: 700;
}
.move-signup h6:hover{
    color: #1D3B16;
}

@media screen  and (max-width:567px) {

    .form-container{
        width: 350px;
    }
    .form-container h2{
        width: 350px;
        height: 100px;
    }
    .input-group input{
        width: 300px;
    }
    .input-submit input{
        width: 300px;
    }
    .google-btn button{
        width:300px;
    }
    .line-start{
        width: 110px;
    }
    .line-end{
        width: 110px;
    }


}